<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection name - Task List</title>
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Css -->
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="stylesheet" href="/styles/collection.css">

    <!-- Script -->
    <script src="/scripts/modal.js" defer></script>

</head>
<body>
    <div id="collection">

        <%# include(`parts/header`) %>
        
        <main>
            <section>
                <div class="header">
                    <div class="back-title">
                        <a class="back-icon" href="/authorized?token=<%= token %>">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"></path>
                            </svg>
                        </a>
                        <h1 class="text-h1"><%= collection.name%></h1>
                    </div>
                    <div class="button-modal">
                        <button onclick="modalCollection()">
                            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="text-xl" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle>
                            </svg>
                        </button>

                        <!-- modal collection -->
                        <div class="modal-collection">
                            <div class="option">
                                <button onclick="modalAddCollection()">
                                    <div>Editar coleção</div>
                                </button>
                            </div>
                            <div class="option">
                                <button form="delete-collection" type="submit">
                                    <div>Deletar</div>
                                </button>
                                <form id="delete-collection" 
                                action="/authorized/collection/delete/<%= collection.id %>?token=<%= token %>" 
                                method="post"></form>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-sub-title">tarefas - <%= tasks.length %></p>

                <!-- Tasks -->
                <div>
                    <% tasks.forEach(task => { %>
                        <% if(task.checked === "false"){%>
                            <div class="task">
                                <div class="main">
                                    <button style="border-color: <%= collection.color %>;"></button>
                                    <p class="task-name"><%= task.name %></p>
                                    <div class="task-button" onclick="modalTask()">
                                        <div>
                                            <button>
                                                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="text-xl" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                            </button>
                                            
                                            <!-- modal task -->
                                            <div class="modal-task">
                                                <div class="option">
                                                    <button>
                                                        <div>Editar</div>
                                                    </button>
                                                </div>
                                                <div class="option">
                                                    <button>
                                                        <div>Deletar</div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        <%}%>
                    <% }) %>
                </div>

                <!-- Add task -->
                <form action="" method="post">
                    <div class="add-task">
                        <div class="main">
                            <button style="background-color: <%= collection.color %>;">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 11L13 11 13 5 11 5 11 11 5 11 5 13 11 13 11 19 13 19 13 13 19 13z"></path>
                                </svg>
                            </button>
                            <input type="text" name="name" placeholder="Adicionar tarefa" required>
                        </div>
                    </div>
                </form>

                <% tasks.forEach(task => { %>
                    <% if(task.checked === "true"){%>
                        <p class="completed">Concluídas - 1</p>
                        <div class="completed-">
                            <div class="task">
                                <div class="main">
                                    <button class="check" style="background-color: <%= collection.color %>; border-color: <%= collection.color %>;">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                    <p class="line-through"><%= task.name %></p>
                                    <div class="task-button">
                                        <div class="completed-task">
                                            <button onclick="modalCompletedTask()">
                                                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="text-xl" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                            </button>
                                            
                                            <!-- modal completed task -->
                                            <div class="modal-completed-task">
                                                <div class="option">
                                                    <button>
                                                        <div>Deletar</div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    <%}%> 
                <%})%> 

            </section>
        </main>
        <footer></footer>

        <!-- Modal add collection -->
        <div class="modal-add-collection">
            <form id="form-collection" 
                class="main-form" 
                method="POST"
                action="/authorized/collection/update/<%= collection.id %>?token=<%= token %>" 
            >
                <header class="title">Adicionar coleção</header>
                <div class="close">
                    <svg viewBox="0 0 24 24" focusable="false" class="chakra-icon css-onkibi" aria-hidden="true">
                        <path fill="currentColor" d="M.439,21.44a1.5,1.5,0,0,0,2.122,2.121L11.823,14.3a.25.25,0,0,1,.354,0l9.262,9.263a1.5,1.5,0,1,0,2.122-2.121L14.3,12.177a.25.25,0,0,1,0-.354l9.263-9.262A1.5,1.5,0,0,0,21.439.44L12.177,9.7a.25.25,0,0,1-.354,0L2.561.44A1.5,1.5,0,0,0,.439,2.561L9.7,11.823a.25.25,0,0,1,0,.354Z"></path>
                    </svg>
                </div>
                <section class="main">
                    <label class="text-name" for="input-name">Nome</label>
                    <input type="text" id="input-name" name="name" placeholder="Minha coleção" value="<%= collection.name %>" required>
                    <label>
                        <!-- Cor -->
                        <div class="colors">
                            <!-- cores pre-definidas -->
                        </div>
                    </label>
                    <label class="custom-colors" for="custom-color">
                        Personalizar cor
                        <input type="color" name="color" id="custom-color" value="<%= collection.color %>">
                    </label>
                </section>
                <footer>
                    <button type="submit" form="form-collection">Criar</button>
                    <div class="cancel" onclick="modalCloseCollection()">Cancelar</div>
                </footer>
            </form>
        </div>
    </div>
</body>
</html>