<main>
    <section>
        
        <h2><%= title %></h2>

        <div class="buttons-social-networds">

            <!-- Continuar com Google -->
            <a href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=911878798196-11jbdiam8s64rkcpkjb31061mqa2vrrj.apps.googleusercontent.com&scope=openid%20profile%20email&redirect_uri=https://task-list12.herokuapp.com/signGoogle&nonce=0394852-3190485-2490358" class="button">
                <img src="/images/google.svg" alt="Google">
            </a>

            <!-- Continuar com Github -->
            <a class="button" href="https://github.com/login/oauth/authorize?client_id=a304031e4c1e9ce53f74">
                <img src="/images/github.svg" alt="Github">
            </a>
            
        </div>

        <p>ou</p>

        <!-- create -->
        <form id="form" action="/<%= action %>" method="POST">
            <input class="button" type="email" name="email" placeholder="Email" required>
            <input class="button" type="password" name="password" placeholder="Senha" required>

            <button form="form" class="button submit"><%= text_button %></button>
        </form>

        <p class="text-login"><%= text %><a href="/<%= link %>"><%= text_link %></a></p>

        <div class="back-to-home">
            <a href="/">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" class="mr-2" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
                </svg>
                Voltar ao início
            </a>
        </div>

    </section>
</main>